# Assignment # 1
## Name: M Atthe ul haq

In [9]:
# 1
print("Twinkle, twinkle, little star, \n\t How I wonder what you are! \n\t\t Up above the world so high, \n\t\t Like a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are")

Twinkle, twinkle, little star,
	 How I wonder what you are!
		 Up above the world so high,
		 Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [25]:
# 2
from platform import python_version
print(python_version())

3.7.12

In [16]:
# 3
from datetime import datetime
c_dt = datetime.now()
str_cdt=c_dt.strftime("%d/%m/%Y %H:%M:%S")
print(str_cdt)

31/12/2021 06:28:41

In [24]:

# 4
import math
radius=float(input("Enter vlue for radious:"))
areatostr=str(math.pi*(radius**2))

print("The area of circle of given radius is: "+ areatostr)

Enter vlue for radious:2.5
The area of circle of given radius is: 19.634954084936208

In [34]:
# 5
f_name=input("Enter your first name:")
l_name=input("Enter your last name:")
f_name=f_name+" "+l_name
rf_name=f_name[::-1]
print(rf_name)

Enter your first name:Atther
Enter your last name:ul haq
qah lu rehttA

In [44]:
# 6 
num1=float(input("Enter First number:"))
num2=float(input("Enter Secound number:"))
sum=num1+num2
print(sum)

Enter First number:67
Enter Secound number:56
123.0